<label for="">List of Available Custom Games</label>

<div class="row">
    <div class="col-xs-12">
        <input [(ngModel)] = "title" id = "input-title" type="text" placeholder = "Title">
        <input [(ngModel)] = "description" id = "input-description" type="text" placeholder = "Description">
        <button 
        class="btn btn-success"
        [disabled] = "!(title && description)"
        (click) = "onAddGame()"
        >Add Game</button>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3>List of Games</h3>
            <div *ngFor = "let gameItem of gameData.gameList; let i = index" class="col-xs-12">
                <ul class="list-group">
                    <li class = "game-item list-group-item"
                    [ngStyle] = "{color: getColor()}"
                    >Title: {{ gameItem.title }} <br>Description: {{ gameItem.description }} <br> {{ gameItem.itemNumber }} <br>
                    <button class="btn btn-danger"
                    (click) = 'onDeleteGame(gameItem)'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                    </button>
                </li>
                    
                </ul>
            </div>
            <div *ngIf = "gameData.gameList.length > 5" class="col-xs-12">
                <p class = "ad">HELLO THIS IS AD, PLEASE GIVE MONEY</p>
                <button class="btn btn-danger">DANGER: CLICK NOW!!!!</button>
            </div>
        </div>
        <div class="col-6">
            <app-game-info></app-game-info>
        </div>
    </div>
</div>
